*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;
  background-image: url(./src/images/oldroom.jpg);
  background-size: cover;
}

.container .header{
  width: 80%;
  height: 80px;
  margin: 0 auto; /* 수평 기준으로 중앙에 오게 하기위해 좌우에 마진 */
  display: flex;
  justify-content: space-between;
  align-items: center; /* header의 height를 기준으로 중앙 정렬됨 */
}

.container .header h1 a{
  text-decoration: none; /* 텍스트 밑에 선 제거 */
  color: white;
}

.container .nav ul li{
  display: inline-block; /* nav 를 가로로 배치 */
  margin: 0 10px;
}

.container .nav ul li a{
  text-decoration: none;
  color: white;
}

.container .nav ul li a:hover{
  color: darkseagreen;
}

.container .main phrase{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.container .main phrase h2{
  font-size: 60px;
  margin-bottom: 20px; /* h2태그와 h태그 사이의 간격을 20px */
}

.container .main phrase p{
  font-size: 22px;
}

.container .main phrase button{
  background: none;
  border: 2px solid darkseagreen;
  color: white;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}

.container .main phrase button:hover{
  background-color: darkslategray;
}